{%extends 'vault/layout.html'%}

{%block title%} index {%endblock%}

{%block body%}

<div id="container-flex">
    <sidebar id="sidebar">
        <p>this is the sidebar</p>
        <ul id='view_toggles' value="ASD">
            <li><button value="logins">logins</button></li>
            <li><button value="notes">notes</button></li>
            <li><button value="cards">cards</button></li>
        </ul>
    </sidebar>
    <main id="main-view" class="altro test classe culo-nudo">

        <h2>this is the vault content</h2>
        <button id="add-login">Add item</button>

        <div id="vault-content">
            <section id="logins-view">

                <!-- TODO remove templates cards, js manages to build template based on the response of the API, building a card with the values from the keys the fetch request receives -->
                <h5>Logins:</h5>


                {%include 'vault/login-box.html'%}




            </section>
            <section id="notes-view" style="display: none;">
                <h5>Notes: </h5>
                <p>you are watching the notes</p>

                <!-- {include 'vault/note-card.html'} -->


            </section>
            <section id="cards-view" style="display: none;">
                <h5>Cards:</h5>

                <!-- {include 'vault/card-card.html'} -->


                <p>you are watching the cards</p>

            </section>
        </div>

    </main>

    <aside id="element-preview" style="display:flex; flex-direction:column;">
        <div>this section temp content</div>
        <section id="new-item" style="display: none ;">
            <!-- includes the form to add a new login -->
            {% include "vault/new_item.html" %}
        </section>

        <section id="login-template" style="display: none;">
            <!-- NON INCLUDE PIU include 'vault/login-template.html' -->
        </section>

        <section id="note-template" style="display: none;">
            {%include 'vault/note-template.html' %}
        </section>

        <section id="card-template" style="display: none;">
            {%include 'vault/card-template.html' %}
        </section>

    </aside>

</div>

{%endblock%}