{% load static %}

<h3>Login:</h3>

<div class="login-base-template" style="display: none ;">
    <div class="tag-title">
        <div><b>Title: </b></div>
    </div>
    <div class="tag-username">
        <div><b>Username:</b></div>
    </div>
    <div class="tag-password">
        <div><b>Password:</b></div>
    </div>
    <div class="tag-uri">
        <div><b>URI:</b></div>
    </div>
    <div class="tag-note">
        <div><b>Notes:</b></div>
    </div>
    <button class="show-history" disabled="true"></button>
    <div class="history" style="display: none;"></div>

</div>